[submodule "charts/radarr"]
	path = charts/radarr
	url = git@github.com:expectedbehaviors/radarr.git
[submodule "charts/sonarr"]
	path = charts/sonarr
	url = git@github.com:expectedbehaviors/sonarr.git
[submodule "charts/lidarr"]
	path = charts/lidarr
	url = git@github.com:expectedbehaviors/lidarr.git
[submodule "charts/readarr"]
	path = charts/readarr
	url = git@github.com:expectedbehaviors/readarr.git
[submodule "charts/prowlarr"]
	path = charts/prowlarr
	url = git@github.com:expectedbehaviors/prowlarr.git
[submodule "charts/gotify"]
	path = charts/gotify
	url = git@github.com:expectedbehaviors/gotify.git
[submodule "charts/mealie"]
	path = charts/mealie
	url = git@github.com:expectedbehaviors/mealie.git
[submodule "charts/reloader"]
	path = charts/reloader
	url = git@github.com:expectedbehaviors/reloader.git
[submodule "charts/seaweedfs"]
	path = charts/seaweedfs
	url = git@github.com:expectedbehaviors/seaweedfs.git
[submodule "charts/oauth2-proxy"]
	path = charts/oauth2-proxy
	url = git@github.com:expectedbehaviors/oauth2-proxy.git
[submodule "charts/plex-autoskip"]
	path = charts/plex-autoskip
	url = git@github.com:expectedbehaviors/plex-autoskip-helm-chart.git
[submodule "charts/tunnel-interface"]
	path = charts/tunnel-interface
	url = git@github.com:expectedbehaviors/tunnel-interface.git
[submodule "charts/ipmi-fan-control"]
	path = charts/ipmi-fan-control
	url = git@github.com:expectedbehaviors/ipmi-fan-control.git
[submodule "charts/external-services"]
	path = charts/external-services
	url = git@github.com:expectedbehaviors/external-services.git
[submodule "charts/mylar"]
	path = charts/mylar
	url = git@github.com:expectedbehaviors/mylar.git
[submodule "charts/bazarr"]
	path = charts/bazarr
	url = git@github.com:expectedbehaviors/bazarr.git
[submodule "charts/unpackerr"]
	path = charts/unpackerr
	url = git@github.com:expectedbehaviors/unpackerr.git
[submodule "charts/tautulli"]
	path = charts/tautulli
	url = git@github.com:expectedbehaviors/tautulli.git
[submodule "charts/ombi"]
	path = charts/ombi
	url = git@github.com:expectedbehaviors/ombi.git
[submodule "charts/audiobookshelf"]
	path = charts/audiobookshelf
	url = git@github.com:expectedbehaviors/audiobookshelf.git
[submodule "charts/kavita"]
	path = charts/kavita
	url = git@github.com:expectedbehaviors/kavita.git
[submodule "charts/gaps"]
	path = charts/gaps
	url = git@github.com:expectedbehaviors/gaps.git
[submodule "charts/cert-manager"]
	path = charts/cert-manager
	url = git@github.com:expectedbehaviors/cert-manager.git
[submodule "charts/external-dns"]
	path = charts/external-dns
	url = git@github.com:expectedbehaviors/external-dns.git
[submodule "charts/kubernetes-replicator"]
	path = charts/kubernetes-replicator
	url = git@github.com:expectedbehaviors/kubernetes-replicator.git
[submodule "charts/nginx"]
	path = charts/nginx
	url = git@github.com:expectedbehaviors/nginx.git
[submodule "charts/purelb"]
	path = charts/purelb
	url = git@github.com:expectedbehaviors/purelb.git
[submodule "charts/home-assistant"]
	path = charts/home-assistant
	url = git@github.com:expectedbehaviors/home-assistant.git
[submodule "charts/immich"]
	path = charts/immich
	url = git@github.com:expectedbehaviors/immich.git
[submodule "charts/kometa"]
	path = charts/kometa
	url = git@github.com:expectedbehaviors/kometa.git
[submodule "charts/komga"]
	path = charts/komga
	url = git@github.com:expectedbehaviors/komga.git
[submodule "charts/kubernetes-dashboard"]
	path = charts/kubernetes-dashboard
	url = git@github.com:expectedbehaviors/kubernetes-dashboard.git
[submodule "charts/minio"]
	path = charts/minio
	url = git@github.com:expectedbehaviors/minio.git
[submodule "charts/nextcloud"]
	path = charts/nextcloud
	url = git@github.com:expectedbehaviors/nextcloud.git
[submodule "charts/nvidia-device-plugin"]
	path = charts/nvidia-device-plugin
	url = git@github.com:expectedbehaviors/nvidia-device-plugin.git
[submodule "charts/organizr"]
	path = charts/organizr
	url = git@github.com:expectedbehaviors/organizr.git
[submodule "charts/tdarr"]
	path = charts/tdarr
	url = git@github.com:expectedbehaviors/tdarr.git
[submodule "charts/longhorn"]
	path = charts/longhorn
	url = git@github.com:expectedbehaviors/longhorn.git
[submodule "charts/plex"]
	path = charts/plex
	url = git@github.com:expectedbehaviors/plex.git
[submodule "charts/atlantis"]
	path = charts/atlantis
	url = git@github.com:expectedbehaviors/atlantis.git
[submodule "charts/harbor"]
	path = charts/harbor
	url = git@github.com:expectedbehaviors/harbor.git
[submodule "charts/portainer"]
	path = charts/portainer
	url = git@github.com:expectedbehaviors/portainer.git
[submodule "charts/prometheus"]
	path = charts/prometheus
	url = git@github.com:expectedbehaviors/prometheus.git
